## Build artifacts
bin/
obj/
out/
[Ll]og/
*.log

## User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.userprefs

## VS Code
.vscode/

## Visual Studio
.vs/
*.dbmdl
*.psess
*.vsp
*.vspx
*.vspscc
*.vssscc
*.cache
*.pdb
*.mdb

## ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

## Resharper
_ReSharper_
